@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(1, 3, 31);
}
.header {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.header .main-title {
  padding-bottom: 20px;
}

.game {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game svg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signature {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white;
}

.signature a {
  color: white;
  text-decoration: none;
}

.signature a:hover {
  text-decoration: underline;
}

.border {
  z-index: -1;
}

.field {
  z-index: 9;
}

/* LOST SCREEN */

.lost-screen {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 9;
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
}

.lost-message {
  color: white;
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 50vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.lost-message h1 {
  padding: 50px;
}

.lost-message h1 a {
  color: #c00000;
}

.lost-message h1 a:hover {
  color: white;
}

/* KAJA  */

.kaja {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.restart {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  padding: 50px;
  background: none;
}

.restart a {
  color: white;
  text-decoration: none;
}

.restart a:hover {
  text-decoration: underline;
}
